<br>
<h1 class="ranking_title">みんなが欲しいものTOP10</h1>
<%= render 'ranking/list' , items: @have_items %>
<br>
<h1 class="ranking_title">みんなが持っているものTOP10</h1>
<%= render 'ranking/list' , items: @want_items %>